.searchbar-text {
  display: flex;
  justify-content: space-between;
}

.search-items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.search-item {
  padding-top: 0rem;
  padding-bottom: 0rem;
  flex: 0 0 33%;
  list-style-position:inside;
}

.search-item-discount {
  padding-top: 0rem;
  padding-bottom: 0rem;
  flex: 0 0 33%;
  list-style-position:inside;
  border: 0.5px solid rgba(26, 188, 156);
  background-color: rgba(26, 188, 156,0.3);
}

.search-item-discount:hover {
  cursor: pointer;
  background-color: rgba(26, 188, 156,0.1);
}

.search-item:hover {
  cursor: pointer;
  background-color: #f6f6f6;
}

.search-item-img {
  max-width: 5rem;
  max-height: auto;
}
